<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sie.attend.pojo.LoginMapper">

	<select id="selectByPrimaryKey" resultType="Map" parameterType="Map">
		select * from employee where id=#{id}
	</select>
	
	<select id="selectByEmpId" resultType="Map" parameterType="Map">
		SELECT * FROM employee WHERE emp_id=#{emp_id}
	</select>
	
	<select id="selectByEmpName" resultType="Map" parameterType="Map">
		SELECT * FROM employee WHERE emp_name=#{empName};
	</select>
	
	
</mapper>