<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sie.data.Sign">

	<select id="SelectAllSignByUser" resultType="Map" parameterType="java.util.Map">
		select emp.emp_id empid,emp.emp_name empname,rec.recd_type rectype,
		rec.date recdate,rec.time rectime,rec.work_state
		workstate,rec.comefrom recfrom,rec.real_time
		from employee emp,record rec
		where
		emp.emp_id=rec.emp_id
		and emp.emp_id=#{username}
		and rec.date between
		#{datestart} and #{dateend}
		<if test="attendstate!='all' ">
			and rec.work_state=#{attendstate}
		</if>
		and rec.show="true"
		order by rec.date desc
		limit
		#{startShow},#{pageSize}

	</select>
	<select id="selectSignCount" resultType="Map">
		select count(*)
		from
		employee emp,record rec
		where
		emp.emp_id=rec.emp_id
		and
		emp.emp_id=#{username}
		and rec.date between #{datestart} and #{dateend}
		<if test="attendstate!='all' ">
			and rec.work_state=#{attendstate}
		</if>
		and rec.show="true"
		
	</select>


	<select id="SelectUserIfSign" resultType="Map" parameterType="java.util.Map">
		select count(*),rec.work_state
		from employee emp,record rec
		where
		emp.emp_id=rec.emp_id
		and emp.emp_id=#{username}
		and rec.date=#{date}
		and rec.recd_inout=#{recd_inout}
	</select>


	<select id="SelectCheskSigntime" resultType="Map" parameterType="java.util.Map">
		select time1,time2,time3,time4,rec_type
		from real_time
		where
		type="employee"
	</select>

	<insert id="InsertSignMorRecord" parameterType="java.util.Map">
		insert into
		record(emp_id,date,time,real_time,recd_type,mor_noon,work_state,comefrom,recd_inout)
		values
		(#{username},#{date},#{time},#{real_time},'signin',#{mor_noon},#{work_state},#{comefrom},'in')

	</insert>

	<insert id="InsertSignNoonRecord" parameterType="java.util.Map">
		insert into
		record(emp_id,date,recd_type,mor_noon,work_state)
		values
		(#{username},#{date},'signout','noon','nowork')
	</insert>

	<update id="updateSignNoonRecord" parameterType="java.util.Map">
		update record
		rec
		set rec.time = #{time}, rec.real_time = #{real_time},
		rec.work_state = #{work_state}, rec.comefrom
		=#{comefrom},rec.recd_inout='out'
		where
		rec.emp_id = #{username}
		and
		rec.date = #{date}
		and rec.mor_noon='noon'
	</update>

	<update id="updateSignMorRecord" parameterType="java.util.Map">
		update record rec
		set rec.work_state = #{work_state}
		where rec.emp_id = #{username}
		and
		rec.date = #{date}
		and rec.mor_noon='mor'
	</update>




</mapper>